
body {
    background-color:#C4C4AA;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: white;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #AAA;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
.headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	/*background-color: #3498db;*/
	margin-top: 0px;
	padding-top:0px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerwrap h4{
    color: white;
    text-shadow: #444 0.1em 0.1em 0.2em;
}
.headerwrapfix h1{
	margin-top: 35px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

/* HeaderWrap */
.footerwrap {
    /* background: url(../img/bg01.jpg) no-repeat center top; */
    /*background-color: #3498db;*/
    margin-top: 0px;
    padding-top:0px;
    background-attachment: relative;
    background-position: center center;
    min-height: 50px;
    width: 100%;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glyphicon.bigger {font-size: 70px;}

/*
* Paleta de colores
*/
.colorwheel1{
    background-color: #DBBD6A;
    color:#3D3D3A;


}
.colorwheel2{
    z-index:-999;
    background:url('../img/fundum_tranquera.jpg') no-repeat center center;
    background-size:auto auto;
    min-height: 550px;
    min-width: 100%;
    top: 0;
    left: 0;
    background-color: #D9A93F;
    color:#0C090A;
}
.colorwheel3{
    background-color: #8F864E;
    color:#3D3D3A;
}
.colorwheel4{
    background-color: #ADA77F;
    color:#3D3D3A;
}
.colorwheel5{
    background-color: #C4C4AA;
    color:#3D3D3A;
}
.colorwheelthanks{
    background-color:#C4C4AA;
    color:#3D3D3A;
}
/*
* Imagenes fondo secciones


#home{
    background:url('../img/bg_finca_fundum.jpg') no-repeat center center;
    background-size:100% auto;
}
*/